body{
    background: #282725;
    font-size: 23px;
    color: #DADADA
}
.main-logo{
    /*text-align: center;*/
    padding-bottom: 80px;
}
.main-location{
    font-size: 30px;
}
.no-current-event{
    font-size: 100px;
    color: #7C7C7C;
}
.current-event-name{
    font-size: 50px;
    color: #8DB096;
}
.current-event-time{
    font-size: 30px;

}


.right-side{
    border-left: 1px solid #565656;
}
.clock{
    height: 20vh;
    max-height: 20vh;
    border-bottom: 1px solid #565656;
    text-align: center;
    font-size: 60px;
}
.upcoming-events{
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
}
.upcoming-event{
    padding-bottom: 5px;
    line-height: 27px;
}
.upcoming-event .date-heading{
    padding-top: 10px;
    padding-bottom: 5px;
    color: #66afe9;
    font-size: 25px;
}