body{
    background: #282725;
    font-size: 20px;
    color: #DADADA
}
.main-logo{
    text-align: center;
    padding-bottom: 120px;
}
.main-location{
    /*text-align: center;*/
}
.no-current-event{
    font-size: 50px;
}
.upcoming-event{
    padding-bottom: 20px;
}