body{
    background: #282725;
    font-size: 23px;
    color: #DADADA
}
.main-logo{
    /*text-align: center;*/
    padding-bottom: 80px;
}
.main-logo{
    opacity: 0.6;
}
.main-location{
    font-size: 30px;
}
.main-location.failure{
    color: red;
}
.no-current-event{
    font-size: 100px;
    color: #7C7C7C;
}
.current-event-name{
    font-size: 50px;
    line-height: 60px;
    color: #E5E5E5;
}
.current-event-time{
    font-size: 45px;
    margin-left: 40px;
    color: #949494;
}


.right-side{
    border-left: 1px solid #565656;
}
.clock{
    height: 20vh;
    max-height: 20vh;
    border-bottom: 1px solid #565656;
    text-align: center;
    font-size: 80px;
}
.upcoming-events{
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
}
.nothing-upcoming{
    font-style: italic;
    color: #949494;
    text-align: center;
}
.upcoming-event-date-heading{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #66afe9;
    font-size: 25px;
}
.upcoming-event{
    padding-bottom: 15px;
    line-height: 27px;
}
.upcoming-event-time{
    margin-left: 20px;
    color: #949494;
}
