<div class="container-fluid">
    <div class="row">
        <div class="col-xs-7">
            <div class="main-logo">
                <div><img src="img/logo.jpg"/></div>
                <div class="main-location">{{location}}</div>
            </div>
            <div ng-hide="currentEvent" class="no-current-event">OPEN</div>
            <div ng-show="currentEvent" class="current-event">
                <div class="current-event-name">{{currentEvent.name}}</div>
                <div class="current-event-time">{{formatUnix(currentEvent.unixStart, 'h:mma')}} - {{formatUnix(currentEvent.unixEnd, 'h:mma')}}</div>
            </div>
        </div>

        <div class="col-xs-5 right-side">
            <div class="clock" ng-dblclick="easterEgg = true">
                <div ng-hide="easterEgg">{{formatNow('h:mm')}}</div>
                <div ng-show="easterEgg">by Code6226</div>
            </div>
            <div class="upcoming-events">
                <!--<div>{{formatNow('ll')}}</div>-->
                <div ng-repeat="event in upcomingEvents" class="">
                    <div ng-if="isUpcomingEventOnNewDate($index)" class="upcoming-event-date-heading">
                        {{formatUnix(event.unixStart, 'ddd, MMM D YYYY')}}
                    </div>
                    <div class="upcoming-event">
                        <div>
                            {{event.name}}
                        </div>
                        <div class="upcoming-event-time">
                            {{formatUnix(event.unixStart, 'h:mma')}} - {{formatUnix(event.unixEnd, 'h:mma')}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>