<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <div class="main-logo"><img src="img/logo.jpg"/></div>
            <div class="main-location">M-Eola</div>
            <div ng-hide="currentEvent" class="no-current-event">OPEN</div>
            <div ng-show="currentEvent" class="current-event">
                <div>{{currentEvent.name}}</div>
                <div>{{formatUnix(currentEvent.unixStart, 'lll')}}</div>
                <div>{{formatUnix(currentEvent.unixEnd, 'lll')}}</div>
            </div>
        </div>

        <div class="upcoming-events col-xs-6">
            <!--<div>{{formatNow('ll')}}</div>-->
            <div ng-repeat="event in upcomingEvents" class="upcoming-event">
                <div>{{event.name}} ({{event.location}})</div>
                <div>{{formatUnix(event.unixStart, 'lll')}}</div>
                <div>{{formatUnix(event.unixEnd, 'lll')}}</div>
            </div>
        </div>
    </div>
</div>